#box {
    display: flex;
    flex-direction: row;    
    /* flex-direction: column; */ /*세로방향*/

    justify-content: center; /*중앙정렬*/

    width: 1000px;
    height: 100px;

    background-color: pink;
}

#a{
    background-color: red;
    width: 100px;
    height: 100px;
    
}