#box {
    display: flex;
    /*flex-direction: row;*/ /*가로방향*/   
    flex-direction: column; /*세로방향*/

    justify-content: center; /*중앙정렬*/

    width: 100px;
    height: 1000px;

    background-color: pink;
}

#a{
    background-color: red;
    width: 100px;
    height: 100px;
    
}