body{
    background-image: url(https://upload3.inven.co.kr/upload/2021/02/25/bbs/i15745445892.jpg);
}

#whole_layout{
    width: 1600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

    #top {
        display: block;
        width: 1600px;
        height: 120px;
        background-color: pink;
    }

        #top_logo{
            width: 300px;
            height: 120px;
            margin-top: auto; 
            position: absolute;
            background-color: yellowgreen;
        }

            #cat_logo{
                width: 120px;
                height: 100px;
                margin-left: 10px;
                margin-top: 10px;
            }

            #name{
                margin-top: 50px;
                margin-right: 20px;
                float: right;
                font-size: 15px; font-style: italic; color: brown;
            }

        #top_banner{
            display: block;
            width: 540px; height: 120px;
            margin-left: auto;
            margin-right: auto;
        }

    #top_menu{
        display: flex;
        width: 1600px; height: 40px;
        background-color: gray;
        justify-content: center;
        align-items: center;
    }

        #menu_inside{
            background-color: brown;
        }

    #mid{
        display: flex;
        width:1600px; height: 800px;
    }

        #mid_left{
            display: block;
            width: 200px; height: 435px;
            background-color: red;
        }

            #log_in{
                width: 180px; height: 100px;
                background-color: orange;
                padding: 3px;
                margin: auto;
                margin-top: 5px;
            }

                #login_id{
                    width: 150px; height: 18px;
                    margin-top: 8px;
                    margin-bottom: 3px;
                    margin-left: 8px;
                }

                #login_pw{
                    width: 150px; height: 18px;
                    margin-bottom: 3px;
                    margin-left: 8px;
                }

                #login_bt{
                    display: inline;
                    width: 60px; height: 25px;
                    margin-bottom: 3px;
                    margin-left: 8px;
                }

                #new{
                    display: inline;
                    width: 80px; height: 25px;
                    margin-bottom: 3px;
                    margin-left: 3px;
                }

            #board{
                width: 180px; height: 150px;
                margin: auto;
                padding-left: 7px;
                background-color: pink;
            }

                #board_name{
                    text-align: center; font-style: italic; color: brown;
                    font-weight: 1000;
                    margin-top: 7px;
                }

            #board2{
                width: 180px; height: 150px;
                margin: auto;
                padding-left: 7px;
                background-color: yellowgreen;
            }

                #board2_name{
                    text-align: center; font-style: italic; color: brown;
                    font-weight: 1000;
                    margin-top: 7px;
                }
    

        #mid_mid{
            width: 1050px; height: 800px;
            background-color: yellow;
        }

            .mid_img{
                width : 175px; height: 175px;
                margin: 5px;
                padding: 5px;
                border: dashed; border-color: orangered; border-radius: 10%;
            }

        #mid_right{
            width: 350px; height: 800px;
            background-color: green;
        }

            .mid_banner{
                width: 350px;
                height: 75px;
            }
    
#bottom{
    width: 2300px; height: 300;
    background-color: silver;
    position: fixed; bottom: 10px;
    bottom: 10px;
}