#ig{
    width: 100px;
    height: 100px;
    background: linear-gradient(to right bottom, yellow, white);
}

#ie{
    position: relative;
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, red, orange, yellow, yellowgreen, skyblue, blue, purple);
    left: 50px;
}