a{
    font-size: 400%;
}

a:link{
    color:red;
}

a:visited{
    color:orange;
}

a:hover{
    color:yellow;
}

a:active{
    color:green;
}




input:focus{
    background-color: pink;
}

div>p:target {                         /* div>p : div안에 있는 p를 지정함.*/
    background-color: gray;
}

